body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: rgb(220, 213, 213);
}

.nav{
    display: flex;
    height: 70px;
    width: 100%;
    background-color: blue;
    justify-content: center;
}
.balance{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    font-weight: 400px;
    font-size: 1.4rem;
}
.output{
    display: flex;

    
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    

}
#Income{
    height: 100px;
    width: 200px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-radius: 10px;
}
#Expence{
    height: 100px;
    width: 200px;
    background-color: aliceblue;
    display: flex;
    border-radius: 10px;

    justify-content: center;
    justify-items: center;
}
#heading1{
    display: flex;
    justify-self: center;
    font-size: 1.2rem;
}

ul{
    display: flex;
    flex-direction: column;
    background-color: aliceblue;
    gap: 10px;
    
}
li{
    list-style: none;
    background-color: aliceblue;
    padding: 10px;
    border-radius: 5px;
}
#heading1{
    display: flex;
    justify-content: center;
    padding: 30px;
    font-weight: 500;
    font-size: 1.4rem;
}
#transaction{
    display: flex;
    justify-content: center;
    padding: 30px;
    font-weight: 500;
    font-size: 1.4rem;
}
#input{
    display: flex;
    justify-content: center;
}
#name{
    padding: 5px;
    border-radius: 5px;
    
}

#amount{
    padding: 5px;
    border-radius: 5px;
    
}
#btn{
    display: flex;
    justify-self: center;
    background-color: blue;
    padding: 5px;
    border-radius: 5px;
    color:white;
    padding-top: 5px;
}